.pokeball {
  position: relative;
  left: 48%;
  top: 56vh;
}

.superball {
  position: relative;
  left: 45%;
  top: 89vh;
}

.ultraball {
  position: relative;
  left: 41%;
  top: 126vh;
}

.masterball {
  position: relative;
  left: 37%;
  top: 163vh;
}
