.pokeball {
  position: relative;
  left: 48%;
  top: 63vh;
}

.superball {
  position: relative;
  left: 45%;
  top: 98vh;
}

.ultraball {
  position: relative;
  left: 41%;
  top: 134vh;
}

.masterball {
  position: relative;
  left: 37%;
  top: 171vh;
}
